.BackgroundDesolate{
    --background: #fff url('https://t4.ftcdn.net/jpg/03/40/81/99/360_F_340819925_gSCToZxARXO8sGO0wzArsuAr3kNqLamr.jpg') no-repeat center center / cover;
}

.BackgroundDesolate2{
    background-image: url('https://t4.ftcdn.net/jpg/03/40/81/99/360_F_340819925_gSCToZxARXO8sGO0wzArsuAr3kNqLamr.jpg');    
}

ion-col.left2{
    align-content: flex-end;
    width: 100%;
    size: 150px;
}

 .img-grid{
    background-image: url('https://t4.ftcdn.net/jpg/03/40/81/99/360_F_340819925_gSCToZxARXO8sGO0wzArsuAr3kNqLamr.jpg');
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.img-grid-mobile{
    background-image: url('../../../components/Image/Desert.png');
    /* margin: px auto; */
    display: grid;
    /* --ion-grid-columns:2 */
    grid-template-columns:repeat(auto-fill, minmax(90px, 1fr));
    grid-template-rows: none;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    

}

.FieldWorldItem{
    --background: transparent;
    --min-height: 150px;
    font-size: 15px;
}

/* .FieldWorldItem::before{
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(100%);
} */

.Field-mobile{
    --background :transparent;
    --min-height: 120px;
    font-size: 9px;
}

.StarIcon-Mobile{
    font-size: 15px;
}

.img-grid-desktopOther{
    background-image: url('../../../components/Image/Desert.png');
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  */
     grid-template-columns:repeat(auto-fill, minmax(150px, 1fr)); 
    /* --ion-grid-columns:2 */
    grid-template-rows: none;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 15px;
}


.img-warp{
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    position: relative;
    opacity: 0.8;
}

.img-warp img{
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    position: absolute;
    top: 0;
    left: 0;
}

.col-warp{
    background-image: url('https://media.istockphoto.com/vectors/geometrical-square-mosaic-background-vector-design-from-squares-in-vector-id854658390?k=20&m=854658390&s=612x612&w=0&h=LunJSDeswTeQYYYoKKn4XrEzJ3QTcns8dNjGtKlB7Kc=');
}

.Field{
    --background :url('../../../components/Image/Field.png');
    --min-height: 40vh;
    font-size: 2vw;
}

.ItemBackInvis{
    --background : transparent !important;
}

.ListBackInvis{
    background : transparent !important;
}