@font-face {
    font-family: "Upheaval";
    font-style: normal;
    font-weight: normal;
    src: url("../components/Asset/Fonts/Upheaval/upheavtt.ttf");
  }

  @font-face {
    font-family: "UpheavalFon";
    font-style: normal;
    font-weight: normal;
    src: url("../components/Asset/Fonts/Upheaval/Upheaval.fon");
  }

  @font-face {
    font-family: "Retrogaming";
    font-style: normal;
    font-weight: normal;
    src: url("../components/Asset/Fonts//Retro_Gaming/Retro\ Gaming.ttf");
  }

  // ion-content{
  //   /* font-family: Retrogaming !important; */
  //   font-family: 'Courier New', Courier, monospace !important;
  // }
